// Grid layout using CSS Grid
// ==========================

*,
*::before,
*::after {
  .box-sizing(border-box);
}

html, body {
  width: 100%;
  height: 100%;
  display: block;
}

.grid {
  min-height: 100%;
  display: grid;
  grid-template-columns: 320px 1fr;
  grid-gap: 1rem;
  grid-template-areas: 
    "nav    content"
    "footer footer";
  grid-template-rows: 1fr 100px;
}

.global-nav {
  grid-area: nav;
}

.main-content {
  grid-area: content;
}

footer {
  grid-area: footer;
  background: @black;
  p {
    color: @white;
  }
}
